<%- include("partials/header.ejs") %>

    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- include("partials/navbar.ejs") %>

        <div class="about container-fluid">
            <h1>About US</h1>
            <p>Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Dignissim sodales ut eu sem
                integer vitae justo eget.
                Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Dignissim sodales ut eu sem
                integer vitae justo eget.
                Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Dignissim sodales ut eu sem
                integer vitae justo eget.
            </p>
        </div>
        <%- include("partials/footer.ejs") %>