<%- include("partials/header.ejs") %>

    <div class="heading-section container-fluid">
        <div class="top-div">
            <h1>YOUR OWN PERSONAL COOKBOOK.</h1>
            <P>Anything, Anytime, Anywhere</P>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-outline-dark btn-lg"> <a href="/add-recipe">Get
                        Started</a></button>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>