.footer-section {
  background-color: rgb(120, 116, 178);
  padding: 3% 12% 1%;
}

.footerdivision {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.footer-section a {
  text-decoration: none;
  border-radius: 50%;
  font-size: 1.5rem;
  margin: 10px;
}

.facebook {
  background-color: rgb(111, 111, 129);
  padding: 10px 23px;
  color: rgb(0, 0, 87);
}

.facebook:hover {
  background-color: rgb(18, 18, 100);
  color: white;
}

.twitter {
  background-color: rgb(43, 28, 40);
  padding: 10px 18px;
  color: blue;
}

.twitter:hover {
  background-color: rgb(116, 116, 215);
  color: white;
}

.github {
  background-color: rgb(218, 97, 97);
  padding: 10px 18px;
  color: rgb(69, 33, 33);
}

.github:hover {
  background-color: brown;
  color: white;
}

.linkedIn {
  background-color: blueviolet;
  padding: 10px 20px;
  color: white;
}

.linkedIn:hover {
  background-color: white;
  color: blue;
}

.copyright {
  text-align: center;
  background-color: rgb(120, 116, 178);
  padding-bottom: 1rem;
  margin-bottom: 0;
}

/*********************************Media Queries***********************************/

@media (max-width:500px) {
  
  .footer-section{
    padding: 5% 12% 1%;
  }

  .footer-section a {
    font-size: 1rem;
    margin: 5px;
  }

  .facebook{
    padding: 10px 18px;
  }

  .twitter, .github{
    padding: 10px 14px;
  }

  .linkedIn{
    padding: 10px 16px;
  }
}