.footer-section {
  background-color: rgb(120, 116, 178);
  padding: 3% 12% 1%;
}

.footerdivision{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.footer-section a {
  text-decoration: none;
}

.facebook {
  font-size: 1.5rem;
  background-color: rgb(111, 111, 129);
  border-radius: 50%;
  padding: 10px 23px;
  margin: 10px;
  color: rgb(0, 0, 87);
}

.facebook:hover {
  background-color: rgb(18, 18, 100);
  color: white;
}

.twitter {
  font-size: 1.5rem;
  background-color: rgb(43, 28, 40);
  border-radius: 50%;
  padding: 10px 18px;
  margin: 10px;
  color: blue;
}

.twitter:hover {
  background-color: rgb(116, 116, 215);
  color: white;
}

.github {
  font-size: 1.5rem;
  background-color: rgb(218, 97, 97);
  border-radius: 50%;
  padding: 10px 18px;
  margin: 10px;
  color: rgb(69, 33, 33);
}

.github:hover {
  background-color: brown;
  color: white;
}

.linkedIn {
  font-size: 1.5rem;
  background-color: blueviolet;
  border-radius: 50%;
  padding: 10px 20px;
  margin: 10px;
  color: white;
}

.linkedIn:hover {
  background-color: white;
  color: blue;
}

.copyright {
  text-align: center;
  background-color: rgb(120, 116, 178);
  padding-bottom: 1rem;
  margin-bottom: 0;
}
