.heading-section {
  height: 550px;
  padding: 7% 12%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/images/top-div-bg-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
}

.top-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-div a {
  display: block;
  text-decoration: none;
  color: red;
}

.top-div a:hover {
  color: white;
}

.get-started-div {
  margin-top: 4%;
}

.top-div button {
  outline: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  font-size: 1.7rem;
}

/****************Carousel**************/

.myCarousel {
  background-color: rgb(236, 114, 114);
  padding: 5% 12%;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: #310404;
}

.myCarousel img {
  /* min-height: 60%; */
  border-radius: 10px;
  margin-bottom: 2rem;
  /*box-shadow: 2px 2px 5px #eaece3, -2px -2px 5px #e2e5dd;*/
}

/***************Top Rated**************/

.top-rated, .latest {
  background-color: #fd5d5d;
  text-align: center;
  padding: 5% 12%;
  font-family: "Montserrat", sans-serif;
}

.top-rated h1, .latest h1 {
  margin-bottom: 2rem;
}

.top-rated-recipes, .latest-recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.top-rated-recipes a, .latest-recipes a {
  text-decoration: none;
  color: black;
  width: 30%;
  height: 400px;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.recipe-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* border: 1px solid rgba(227, 195, 195, 0.517); */
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 114, 114);
  /* padding: 2%; */
  transition: all 0.3s ease-in;
}

.recipe-card h3{
  margin-top: 1rem;
}

.recipe-card span{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.recipe-card:hover {
  box-shadow: 2px 2px 5px #6e7836, -2px 0 5px #657b41;
}

.imagewrap {
  width: 100%;
  min-height: 70%;
  max-height: 70%;
}

.recipe-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}

/* .recipe-card p {
  text-align: justify;
} */

.more-recipes {
  text-decoration: none;
  color: white;
}

.more-recipes:hover {
  color: #657b41;
}

/***************************Latest Recipes Extra**************************************/

.latest{
  padding-top: 0;
}


/******************View All**************************/

.view-all-recipes {
  background-color: #fd5d5d;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.view-all-recipes button {
  outline: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  font-size: 1.7rem;
}

.view-all-recipes a {
  text-decoration: none;
  color: rgb(62, 15, 15);
  display: block;
}

.view-all-recipes a:hover {
  color: white;
}

/******************Media Queries*******************/

@media only screen and (max-width: 990px) {
  .heading-section {
    height: 400px;
  }
}
