.wrapper-signup {
  width: 100%;
  /* min-height: 100vh; */
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/images/login-page-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Varela Round", sans-serif;
}

.signup-form h2 {
  margin-bottom: 2rem;
}

.signup-form {
  width: 60%;
  text-align: center;
  padding: 5% 10%;
}

.signup-form button {
  margin-top: 1rem;
  outline: none !important;
  box-shadow: none !important;
}

.email,
.password,
.name,
.address,
.about {
  margin: 1rem 0;
}

.signup-form input,
.signup-form textarea {
  outline: 0;
  padding: 0.5rem;
  border: 1.5px solid gray;
  border-radius: 5px;
  width: 60%;
}

.login-now {
  margin-top: 2rem;
}
.login-now a {
  text-decoration: none;
}

.signup-form hr {
  width: 40%;
  display: inline-block;
  margin-top: 2rem;
}

.signup-form span {
  position: relative;
  bottom: 0.7rem;
  padding: 1rem;
}

.contwithgoogle {
  margin-top: 1rem;
}

.contwithgoogle a {
  border: 1px solid blue;
  outline: none !important;
  box-shadow: none !important;
}

.contwithgoogle a:hover {
  background-color: blue;
  color: white;
}

/****************************Media Queries******************************************/

@media (max-width: 1400px) {
  .signup-form {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .signup-form {
    padding: 10% 0;
  }

  .signup-form input,
  .signup-form textarea {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .signup-form input,
  .signup-form textarea {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .signup-form {
    width: 90%;
    padding: 15% 0;
  }
  .signup-form input,
  .signup-form textarea {
    width: 100%;
  }

  .signup-form hr {
    width: 30%;
  }
}
